<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <span class="club-text">Club</span><span class="recipee-text">Recipee</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link text-gold" href="/explore">Explore</a>
              <a class="nav-link text-gold" href="/recipes">Recipe Library</a>
              <a class="nav-link text-gold" href="/recipes/new">Create a recipe</a>
              <!-- <a class="nav-link text-light-green" href="/announcements">Announcements</a> -->
              <!-- <a class="nav-link text-light-green" href="/notifications">Notifications</a> -->
              <!-- <a class="nav-link text-light-green" href="/about">About</a> -->
          </div>
            <div class="navbar-nav ms-auto">
                <% if (currentUser) { %>
                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle theme-nav-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= currentUser.username %>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end theme-dropdown-menu" aria-labelledby="userDropdown">
                        <!-- Uncomment below if you add a profile page
                        <li><a class="dropdown-item theme-dropdown-item" href="/profile">Profile</a></li> -->
                        <li><a class="dropdown-item theme-dropdown-item" href="/logout">Logout</a></li>
                      </ul>
                    </div>
                  <% } else { %>
                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle theme-nav-link" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end theme-dropdown-menu" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item theme-dropdown-item" href="/register">Register</a></li>
                        <li><a class="dropdown-item theme-dropdown-item" href="/login">Login</a></li>
                      </ul>
                    </div>
                  <% } %>
                
            </div>
      </div>
  </div>
</nav>