<% layout('layouts/boilerplate') %>
<div class="container text-center mt-5">
    <h1 class="display-1 text-warning">404</h1>
    <h2 class="text-light">Oops! Page not found.</h2>
    <p class="text-light">It looks like you've taken a wrong turn. Don't worry, it happens to the best of us.</p>
    <img src="https://media4.giphy.com/media/KbBu3wKwEHKsIVPcWk/giphy.webp?cid=790b7611g72krbi9d3r89gxob90nz23cbb3k0hngnlchqgif&ep=v1_gifs_search&rid=giphy.webp&ct=g" alt="Funny 404" class="img-fluid my-4">
    <a href="/" class="btn btn-primary">Go Back Home</a>
</div>