  /* Explore Page Styles */
.container {
    margin-top: 50px;
}

.card {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.card-title {
    color: gold;
}

.card-text {
    color: #ecf0f1;
}

.btn-primary {
    background-color: #71dd05;
    border-color: #71dd05;
}

.btn-primary:hover {
    background-color: #448008;
    border-color: #448008;
}

.btn-secondary {
    background-color: #7CFC00;
    border-color: #7CFC00;
}

.btn-secondary:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 50px;
}

.mb-4 {
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.w-50 {
    width: 50%;
}

.ms-2 {
    margin-left: 10px;
}