/* Custom colors */
body {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: 'Poppins', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    color: gold; 
}

a {
    color: #71dd05;
}

a:hover {
    color: #448008;
}

.btn-primary {
    background-color:  #71dd05;
    border-color:  #71dd05;
}

.btn-primary:hover {
    background-color: #448008;
    border-color: #448008;
}

.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-danger:hover {
    background-color: #c0392b; 
    border-color: #c0392b;
}
.club-text {
    color: gold;
    /* background-color: #7CFC00; Light green background */
    /* padding: 2px 5px; */
    border-radius: 3px;
}

.recipee-text {
    color: #7CFC00; /* Light green text color */
    /* background-color: gold; */
    /* padding: 2px 5px; */
    border-radius: 3px;
}
    /* Custom lighter green text color */
.text-light-green {
    color: #7CFC00; /* Light green color */
}
/* Form styles */
.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

/* Instructions list styles */
.instructions-list {
    padding-left: 20px;
    list-style-type: none;
}

.instruction-item {
    margin-bottom: 5px;
    color: #7CFC00; /* Light text color */
    background-color: #343a40; /* Dark background color */
    padding: 5px;
    border-radius: 3px;
}
.bg-man1 {
    background-color: #7CFC00;;
    color: black;
}

.bg-man2 {
    background-color: gold;
    color: black;
}   
.bg-man3 {
    background-color: rgb(40, 49, 43);
    color: gold;
}
.bg-man4 {
    background-color: #343a40;
    color: #7CFC00;
    display:inline-block;
}
.bg-man5 {
    color: #7CFC00;
}
.bg-man6 {
    background-color: #343a40;
}
.bg-man7 {
    background-color: #343a40;
    color: #7CFC00;
}