<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <a href="/">Back to Home</a>
    <h1>All Recipes</h1>
    <a href="/recipes/new">Create a new recipe</a>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li><a href="/recipes/<%=recipe._id %>"><%= recipe.title %></a></li>
        <% }) %>
    </ul>
</body>
</html>